- colors = [:primary, :success, :danger, :info, :warning]
.cms-page
  .header
    %h2
      = @cms_page.title
      - if current_user&.admin? && !@cms_page.new_record?
        %small
          %a{ href: edit_admin_cms_page_path(@cms_page), target: '_blank' }
            = fa_icon 'pencil'
    - if @cms_page.sub_title.present?
      %h3= @cms_page.sub_title
  - unless @cms_page.children.empty?
    .child-nav.d-flex.flex-wrap.justify-content-center
      - @cms_page.children.each do |child|
        %a.btn.btn-primary{ href: page_path(child) }= child.title
  .content
    - if @cms_page.body.present?
      = blog(@cms_page.body)
    - if @collection && !@collection.empty?
      = paginate @collection
      %ul.cms-collection
        = render @collection
      = paginate @collection
      %br.clearfix

    - if lookup_context.template_exists?(@cms_page.partial_name, 'cms_pages', true)
      = render @cms_page.partial_name

