%li
  %h4
    = radio_archive.title
    - if radio_archive.attached_file
      %small= link_to 'Download', radio_archive.attached_file.attachment.url
  %p
    = succeed ',' do
      = radio_archive.guest
    = l radio_archive.date, format: :radio_archive
  - radio_archive.embeded_links.each do |embeded_link|
    %p.m-0= raw(embeded_link.body)
