%h3 Radio Archives

.row
  .col-sm-5
    = search_form_for @q do |f|
      .input-group
        = f.text_field :title_or_guest_cont, class: 'form-control'
        .input-group-append
          %button.btn.btn-primary Search

%p
  = paginate @archives

%ul.radio_archives
  - @archives.each do |archive|
    %li.radio-archive
      %h4=archive.title
      %p= archive.guest
      %p= archive.date
      %p= link_to 'Download', archive.attached_file.attachment.url if archive.attached_file
      - if !archive.embeded_links.empty?
        %fieldset.links
          %legend Books &amp; Links
          %ul
            - archive.embeded_links.each do |embeded_link|
              %li= raw(embeded_link.body)

= paginate @archives
