= render  'layouts/cms_page' if @cms_page

= content_for :recaptcha_js do
  = include_recaptcha_js

= recaptcha_action('registrations')

= simple_form_for resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group do |f|
  .row
    .col
      = f.error_notification
  .row
    .col-sm-6
      .form-inputs
        = f.input :first_name
        = f.input :last_name
        = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
        = f.input :password, append: fa_icon(:eye, class: 'toggle-password', data: { toggle: '#user_password'}), required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
        = f.input :refund_policy, as: :boolean, label: t('.refund_policy')
        = f.input :email_policy, as: :boolean, label: t('.email_policy')
        = f.input :volunteer_policy, as: :boolean, label: t('.volunteer_policy')
        = f.input :terms_of_use, label: t('labels.terms_of_use_acceptance_html'), as: :boolean, require: true
    .col-sm-6
      = f.simple_fields_for :address do |af|
        = af.input :address
        = af.input :city
        = af.input :state
        = af.input :zip
        = af.input :country, priority_countries: ["US"]
      .form-actions.mb-3
        -# = recaptcha_v3(site_key: 'RECAPTCHA_PUBLIC_KEY', action: 'registrations', minimum_score: 0.5)
        = f.button :submit, "Sign up", class: 'btn btn-primary'


      = render "devise/shared/links"
