%h1 New Family Member
= simple_form_for @family do |f|
  = f.simple_fields_for :family_memebrs do |family_member|
    = family_member.input :first_name
    = family_member.input :last_name
    = family_member.input :email
    = family_member.input :relationship, collection: ['Spouse / Significant other', 'Child', 'Parent']
  = f.submit 'Create Family Member', class: 'btn btn-primary'
