.card.family-members
  .card-header
    Family Members
    - if current_user.family_membership.role == 'Owner'
      = link_to fa_icon('plus'), new_family_member_invitation_path, class: 'add'

  .card-body
    - if current_user.family_members.empty?
      %ul.list-group.list-group-flush
        %li.list-group-item
          = t('users.show.add_family_members', link: link_to('Click here', new_family_member_invitation_path)).html_safe
    - else
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Relationship
            %th Email
            - if current_user.family_owner?
              %th Status
              %th= fa_icon('trash-alt')
        %tbody
          - current_user.family_members.each do |relation|
            %tr.family-member{ id: "family-member-#{relation.id}"}
              %td= relation.full_name
              %td= relation.family_membership.role
              %td= link_to relation.email, "mailto:#{relation.email}"
              - if current_user.family_owner?
                %td= relation.invitation_accepted_at.nil? ? 'Invited' : 'Confirmed'
                %td
                  - if relation.invitation_accepted_at.nil?
                    = link_to fa_icon('trash-alt'), family_member_path(relation), class: 'delete', method: :delete, data: { confirm: 'Are you sure?' }


