.user-show
  %h2= t('.title')
  .user-modules
    = render 'profile'
    = render 'subscription'
    = render 'medium_registration' if current_user.medium_registration
    = render 'sitter_registration' if current_user.sitter_registration
    = render 'adg_registration'
    = render 'preferences'
