.user-show
  .row
    .col
      %h2= t('.title')
  .row
    .col-sm-6
      = render 'profile'
    .col-sm-6
      = render 'subscription'
  .row
    .col-sm
      = render 'family_members' if current_user.family
    .col-sm
      = render 'preferences'
