= simple_form_for @mediumform do |f|
  .card.profile-details
    .card-header
      = f.input :personalprofessional, as: :radio_buttons, collection: [['Personal Information', :alternate_is_professional], ['Professional Information', :fff_is_professional]], label: 'This information is', wrapper: :horizontal_collection_inline
    .card-body
      .row
        .col
          %ul.personal-info
            %li
              %label First name
              = current_user.first_name
            %li
              %label Middle name
              = current_user.middle_name
            %li
              %label Last name
              = current_user.last_name
            %li
              %label Cell phone
              = current_user.cell_phone
            %li
              %label Home phone
              = current_user.home_phone
            %li
              %label Work phone
              = current_user.work_phone
            %li
              %label Email
              = current_user.email
        .col
          - if current_user.address
            %ul.address
              %li
                %label Street address
                = current_user.address.address
              %li
                %label City
                = current_user.address.city
              %li
                %label State
                = current_user.address.state
              %li
                %label Zip
                = current_user.address.zip
      .row
        .col
          %a{ href: edit_user_registration_path(current_user) } Update Profile

  %p We need both your personal and business contact information.
  %p Please indicate which your profile is and then complete the other in the Alternative Information fields.

  .card.alternate-profile-details
    .card-header
      %h2 Basic Contact Information

    .card-body
      .row
        .col
          = f.input :alt_first_name, label: false, placeholder: 'First name'
          = f.input :alt_middle_name, label: false, placeholder: 'Middle name'
          = f.input :alt_last_name, label: false, placeholder: 'Last name'
          = f.input :alt_mobile_phone, label: false, placeholder: 'Cell phone'
          = f.input :alt_home_phone, label: false, placeholder: 'Home phone'
          = f.input :alt_work_phone, label: false, placeholder: 'Work phone'
          = f.input :alt_home_email, label: false, placeholder: 'Home email'
          = f.input :alt_work_email, label: false, placeholder: 'Work email'
        .col
          = f.input :alt_address_line1, label: false, placeholder: 'Street address'
          = f.input :alt_address_line2, label: false, placeholder: 'Street address (line 2)'
          = f.input :alt_city, label: false, placeholder: 'City'
          = f.input :alt_state, label: false, placeholder: 'State'
          = f.input :alt_zipcode, label: false, placeholder: 'Zipcode'

  .card.social-media
    .card-header
      %h2 Social Media
      %p Please provide the link(s) (URLs) for each of your social networking accounts below.
    .card-body
      = f.input :website
      = f.input :facebook
      = f.input :pinterest
      = f.input :instagram
      = f.input :twitter
      = f.input :youtube
      = f.input :blog

  .card
    .card-header
      %h2 Other Activities
    .card-body
      = f.input :other_primary_owner, maxlength: 500, placeholder: "Contact information for other businesses", class: 'big_box', label: t('medium_registration.labels.other_activities_1')
      = f.input :other_related, maxlength: 500, placeholder: "Other Health, Healing, or Spirituality work", class: 'big_box', label: t('medium_registration.labels.other_activities_2')
      = f.input :other_not_related, placeholder: "Non Health, Healing, or Spirituality work", class: 'big_box', label: t('medium_registration.labels.other_activities_3')
  .card
    .card-header
      %h2 Intuitive Information
    .card-body
      = f.input :became_aware, class: 'big_box', placeholder: "Aware of spirit communication", label: t('medium_registration.labels.intuitive_information_1')
      = f.input :immediate_family, class: 'big_box', placeholder: "Immediate family members", label: t('medium_registration.labels.intuitive_information_2')
      = f.input :life_event, class: 'big_box', placeholder: "Related life event", label: t('medium_registration.labels.intuitive_information_3')
      = f.input :specific_goal, class: 'big_box', placeholder: "Your specific goals", label: t('medium_registration.labels.intuitive_information_4')
      = f.input :medium_priority, class: 'big_box', placeholder: "Evidence of survival or messages of love", label: t('medium_registration.labels.intuitive_information_5')
      = f.input :different_info, class: 'big_box', placeholder: "Differences in receiving information", label: t('medium_registration.labels.intuitive_information_6')
  .card
    .card-header
      %h2 Professional Information
    .card-body
      = f.input :hear_about_fff, class: 'big_box', placeholder: "How did you hear about us", label: t('medium_registration.labels.professional_information_1')
      = f.input :medium_history, class: 'big_box', placeholder: "Your work as a medium", label: t('medium_registration.labels.professional_information_2')

      .form-group
        %label= t('medium_registration.labels.professional_information_3')
        - MediumformPreference.practice_preferences.all.each do |mediumform_preference|
          .form-check
            %input.form-check-input{ name: 'mediumform[mediumform_preference_ids][]', type: :checkbox, value: mediumform_preference.id, id: "mediumform-preference-id-#{mediumform_preference.id}", checked: @mediumform.mediumform_preference_ids.include?(mediumform_preference.id) }
              %label.form-check-label{ for: "mediumform-preference-id-#{mediumform_preference.id}" }= mediumform_preference.name
      .form-group
        %label= t('medium_registration.labels.professional_information_4')
        - MediumformPreference.selfclassify_preferences.all.each do |mediumform_preference|
          .form-check
            %input.form-check-input{ name: 'mediumform[mediumform_preference_ids][]', type: :checkbox, value: mediumform_preference.id, id: "mediumform-preference-id-#{mediumform_preference.id}", checked: @mediumform.mediumform_preference_ids.include?(mediumform_preference.id) }
              %label.form-check-label{ for: "mediumform-preference-id-#{mediumform_preference.id}" }= mediumform_preference.name

      = f.input :other_classify, as: :string, placeholder: "Other classification", label: false
      = f.input :mediumship_training, class: 'big_box', placeholder: "Mediumship training information", label: t('medium_registration.labels.professional_information_5')

      = f.input :other_certification, class: 'big_box', placeholder: "Mediumship training information", label: t('medium_registration.labels.professional_information_6')

  .card
    .card-header
      %h2 Ethics Questionnaire
    .card-body
      = f.input :ethics1, class: 'big_box', placeholder: "No communication or information is coming through", label: t('medium_registration.labels.ethics_questionnaire_1')
      = f.input :ethics2, class: 'big_box', placeholder: "Handle dire information", label: t('medium_registration.labels.ethics_questionnaire_2')
      = f.input :ethics3, class: 'big_box', placeholder: "Deal with strangers", label: t('medium_registration.labels.ethics_questionnaire_3')
      = f.input :ethics4, class: 'big_box', placeholder: "Probono work", label: t('medium_registration.labels.ethics_questionnaire_4')

  .card
    .card-header
      %h2 Signature
    .card-body
      %p You can edit and submit this form as often as you like.
      %p Once you sign and check the Signature box, you will not be able to change your details.
      = f.input :signature, placeholder: "Your Full Name", label: 'Electronic Signature'
      = f.input :signature_checkbox, label: t('medium_registration.labels.terms')

      = f.submit 'Save', class: 'btn btn-primary'
