%li.radio-show
  .card
    .card-header= radio_show.date.to_s(:long_ordinal)
    .card-body
      - if radio_show.attached_file
        %span.badge.badge-warning= link_to 'Download', radio_show.attached_file.attachment.url
      %h4
        = radio_show.title
      %p= radio_show.guest
      - if radio_show.date >= Date.today
        %p= radio_show.instructions
      - radio_show.embeded_links.each do |embeded_link|
        %p.m-0= raw(embeded_link.body)
