.splash-nav-item.upcoming-events{ class: direction }
  %img.img-fluid{ src: img }
  .title
    %h2
      %a{ href: link}
        - if direction == :right
          = title
          = fa_icon icon
        - else
          = fa_icon icon
          = title

  .body
    %p= body
  .clearfix
