= render 'layouts/donate_button'
.splash-page
  .masthead
    = render 'layouts/messages'
    .content
      %h1 Forever Family Foundation
      %p.mission= t('splash.mission')

    .row
      .col-sm-3
        %ul.links
          %li.link
            %p.small As an Amazon Affiliate, we earn from qualifying purchases
            = link_to image_tag('amazon-affiliate.png'), 'http://www.amazon.com/?&tag=wwwforeverfam-20&camp=211041&creative=374001&linkCode=qs1&adid=0HB3V5GYRTKAGAEYQQE2&', target: '_blank', onclick: "amazon_click()"
          %li.link
            %p.small Support us by shopping
            = link_to image_tag('igive.png'), 'http://www.igive.com/welcome/warmwelcome3.cfm?c=43517',target: '  _blank', onclick: "igive_click()"
        %div.clearfix
      .col-sm-9.call-to-action
        %p We don't charge for membership or our core services - we are donor supported. Now, more than ever,   YOU can help change worldview about what happens after we die. Your donations make a difference, and together we can do great things!

  .splash-nav
    = render @splash_nav_items
