- colors = [:primary, :success, :danger, :info, :warning]
.cms-page
  .header
    - if @cms_page.title.present?
      %h2
        = @cms_page.title
        - if current_user&.admin? && !@cms_page.new_record?
          %small
            %a{ href: edit_admin_cms_page_path(@cms_page), target: '_blank' }
              = fa_icon 'pencil'
      - if @cms_page.sub_title.present?
        %h3= @cms_page.sub_title
  - unless @cms_page.children.empty?
    .child-nav.d-flex.flex-wrap.justify-content-center
      - @cms_page.children.each do |child|
        %a.btn.btn-primary{ href: page_by_id_url(child) }= child.title
  - if @cms_page.body.present?
    .content
      = blog(@cms_page.body)
