%footer
  %p= I18n.t('footers.fff_disclaimer')

  %ul
    %li
      %a{href: '/pages/about-us'} About Us
    %li
      %a{href: '/pages/certified-mediums'}= t('navigation.site.certified_mediums')
    %li
      %a{href: '/pages/signs-of-life-magazine'}= t('navigation.site.signs_of_life_newsletter')
    %li
      %a{href: '/pages/afterlife-science'}=t('navigation.site.afterlife_science')
    %li
      %a{href: '/pages/grief-and-loss'}= t('navigation.site.grief_and_loss')
    %li
      %a{href: '/pages/support-and-information'}= t('navigation.site.support_and_information')
    %li
      %a{href: '/pages/signs-of-life-radio'}= t('navigation.site.signs_of_life_radio')
    %li
      %a{href: '/pages/upcoming-events'}= t('navigation.site.calendar_of_events')
    %li
      %a{href: '/pages/volunteers', onclick: "volunteer_email_click()"}= t('navigation.site.volunteers')
    %li
      %a{href: '/pages/contributions', onclick: "just_give_click()"}= t('navigation.site.contributions')
    %li
      %a{href: '/users/sign_up'}= t('navigation.site.registration')
    %li
      %a{href: '/pages/privacy-policy'}= t('navigation.site.privacy_policy')
    %li
      %a{href: '/pages/terms-of-use'}= t('navigation.site.terms_of_use')
    %li
      %a{href: '/pages/contact-information', onclick: "contact_email_click()"}= t('navigation.site.contact')
  %p= t('footers.copy_right', year: Date.today.year)
