%a.navbar-brand{href: root_path}
  %span.logo
    = image_tag 'forever-family-foundation-logo.png'
  Forever Family Foundation
%button.navbar-toggler{"sria-controls" => "navbar", "arsa-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbar", "data-bs-toggle" => "collapse", type: "button"}
  %span.navbar-toggler-icon
#navbar.collapse.navbar-collapse
  %ul.navbar-nav.ms-auto
    - @nav_items.each do |nav_item|
      - if !nav_item.children.empty?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", href: "#", role: "button", class: active_class(nav_item.title)}= nav_item.title
          .dropdown-menu
            %a.dropdown-item{ href: page_path(nav_item) }= nav_item.title
            - nav_item.children.each do |child|
              %a.dropdown-item{ href: page_path(child) }= child.title
      - else
        %li.nav-item
          %a.nav-link{ href: page_path(nav_item), class: page_path(nav_item) }= nav_item.title

    - if user_signed_in?
      %li.nav-item
        %a.nav-link{ href: user_path(current_user), class: active_class(user_path(current_user)) }= fa_icon :user, class: :fas
      %li.nav-item
        = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
          = fa_icon 'sign-out-alt', class: :fas
      - if current_user.admin?
        %li.nav-item
          %a.nav-link{ href: admin_dashboard_path }
            = fa_icon 'cog', class: :fas
    - else
      %li.nav-item
        %a.become-a-member.btn.btn-sm.btn-warning{ href: new_user_registration_path } Become a member!
      %li.nav-item
        %a.nav-link.login{href: new_user_session_path, class: active_class(new_user_session_path)}
          = fa_icon('sign-in-alt', class: :fas)
