!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{content: 'Forever Family Foundation', name: 'description'}
    %meta{content: 'Forever Family Foundation', name: 'author'}

    = render 'layouts/icons'

    %title Forever Family Foundation

    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap', media: 'all'
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'

    = csrf_meta_tags
    %meta{ :name => "google-site-verification", :content => "_-Z13VKqTU87EsG5DN6DXNWEqfnzw9JP8Tvfcqf8cpU" }
    = render 'layouts/google_analytics'

  %body.main
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-K55ZRN3", :style => "display:none;visibility:hidden", :width => "0"}
    = render 'layouts/announcement', announcement: @current_announcement
    = render 'layouts/donate_button'
    = render 'layouts/top_nav', nav_placement: :main
    .container-fluid.main
      = render 'layouts/messages'
      = yield
    = render 'layouts/footer'
