!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %meta{ content: Rails.application.credentials.stripe[:public_key], name: 'stripe-public-key' }

    = render 'layouts/icons'

    %title Forever Family Foundation

    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap', media: 'all'
    = javascript_include_tag 'https://js.stripe.com/v3'
    = javascript_pack_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{ :name => "google-site-verification", :content => "_-Z13VKqTU87EsG5DN6DXNWEqfnzw9JP8Tvfcqf8cpU" }

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6806719-1', 'auto');
      ga('send', 'pageview');


  %body.main
    = render 'layouts/announcement', announcement: @current_announcement
    %button#sticky-donate-button.btn.btn-warning
      %a{ href: '/pages/donations' } Donate Now!

    %nav.top-nav.fixed-top.navbar.navbar-expand-lg.navbar-dark
      = render 'layouts/top_nav'
    .container-fluid
      = render 'layouts/messages'
      = yield
    = render 'layouts/footer'
