!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %meta{ content: Rails.application.credentials.stripe[:public_key], name: 'stripe-public-key' }

    = render 'layouts/icons'

    %title Forever Family Foundation

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap', media: 'all'
    = javascript_pack_tag 'application'
    = csrf_meta_tags

  %body
    = render 'layouts/nav'
    .container
      - if flash
        .row
          .col-12
            = render 'layouts/messages'
      = render 'layouts/cms_page' if @cms_page

      = yield
    = render 'layouts/footer'
