!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %meta{ content: Rails.application.credentials.stripe[:public_key], name: 'stripe-public-key' }
    = render 'layouts/google_analytics'
    = render 'layouts/icons'

    %title Forever Family Foundation

    = stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap', media: 'all'
    = stylesheet_pack_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'splash', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body.splash.text-center
    %nav#splash-nav.top-nav.fixed-top.navbar.navbar-expand-lg.navbar-light
      = render 'layouts/top_nav'
    = render 'layouts/announcement', announcement: @current_announcement
    = yield
    = render 'layouts/footer'
